@use "../../styles/common/setup" as *;

.glueo-composition-autoheight {

  @include media-breakpoint-up(xl) {
    & {
      height: 100vh;
      max-height: 100vh;
    }



      &>.glueo-composition-subcontainer {
        & .glueo-composition-sidebar {
          overflow: auto;
        }
      }

  }

}

.glueo-composition {
  display: grid;
  row-gap: 0.5rem;
}

.glueo-composition-without-sidebar {
  grid-template-rows: auto 1fr auto auto;
  grid-template-columns: 1fr;
  grid-template-areas: "header" "main"  "horizontalseealso" "footer";

}

.glueo-composition-with-sidebar {

  grid-template-rows: auto 1fr auto auto;
  grid-template-columns: 1fr;
  grid-template-areas: "header" "main" "sidebar" "horizontalseealso" "footer";

  @include media-breakpoint-up(xl) {
      grid-template-rows: auto 1fr auto auto;
      grid-template-columns: 1fr 400px;
      grid-template-areas: "header header" "main sidebar" "horizontalseealso horizontalseealso" "footer footer";

  }
}


.glueo-composition-header {
  grid-area: header;

  background-color: $gray-800;

  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  row-gap: 0.5rem;
  column-gap: 1rem;


  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;

  @include media-breakpoint-up(xl) {
    & {
      grid-template-rows: 1fr;
      grid-template-columns: auto auto;
    }
  }

}

.glueo-composition-logo {
  // grid-area: logo;
  // background-color: red ;

  @include media-breakpoint-up(xl) {
    & {
      align-self: end;
    }
  }
}

.glueo-composition-intro {
  // grid-area: intro;

  @include media-breakpoint-up(xl) {
    text-align: right;
    // align-self: end;
  }
}

.glueo-composition-intro-heading,
    .glueo-composition-intro-body {
      @include media-breakpoint-up(xl) {
        text-align: right;
      }
    }

.glueo-composition-intro-heading {
  color: $primary;
  // font-size: 1.2rem;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

.glueo-composition-main {
  grid-area: main;
  padding-left: 1rem;
  padding-right: 1rem;
  
}

.glueo-composition-sidebar {
  grid-area: sidebar;
  padding-right: 1rem;
  padding-left: 1rem;

  @include media-breakpoint-up(xl) {
  padding-left: 0;
  overflow: auto;

  }
}

.glueo-composition-horizontalseealso {
  grid-area: horizontalseealso;
  background-color: $gray-800;

  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.glueo-composition-footer {
  grid-area: footer;
  background-color: $gray-800;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  row-gap: 0.5rem;
  column-gap: 1rem;

  display: grid;

  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr;
  grid-template-areas: "infobox" "brandlinks" "legallinks";

  a {
    color: $gray-500;
    text-decoration: none;

    &:hover {
      color: $white;
      text-decoration: underline;
    }
  }

  @include media-breakpoint-up(xl) {
    & {
      // min-height: 90px;
      grid-template-rows: auto auto;
      grid-template-columns: 1fr auto;
      grid-template-areas: "brandlinks infobox" "legallinks infobox";
    }


  }
}



.glueo-composition-infobox {
  grid-area: infobox;

}
.glueo-composition-infobox-sub {
  background-color: $gray-900;

  @include media-breakpoint-up(xl) {
    width: 728px;
    height: 90px;
  }


}

.glueo-composition-brandlinks,
.glueo-composition-legallinks
{
  display: flex;
  row-gap: 0.5rem;
  column-gap: 1.5rem;
  justify-content: flex-end;
  flex-direction: column;       


  @include media-breakpoint-up(xl) {
  text-align: right;

   flex-direction: row;       
  }
}
.glueo-composition-brandlinks{
  grid-area: brandlinks;

}
.glueo-composition-legallinks {
  grid-area: legallinks;
  @include media-breakpoint-up(xl) {

  a {
    align-self: flex-end;
  }
}
}
